<h1>I am the index.html.erb</h1>



<% @turkeys.each do |turkey| %>
  
  <h1>name: <a href="/turkeys/<%= turkey.id %>"><%= turkey.name %></a></h1>
  <p>number_of_gobbles: <%= turkey.number_of_gobbles %></p>
  <hr>
<% end %>