<h1>Here is a form</h1>


<form action="/turkeys" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>Weight: <input type="text" name="weight"></p>
  <p>Gobble count: <input type="text" name="number_of_gobbles"></p>
  <p><input type="submit" value="Make a turkey"></p>
</form>