<!DOCTYPE html>
<html>
  <head>
    <title>TurkeyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <a href="/turkeys">Look at all the turkeys</a>
    <a href="/turkeys/new">Make a new turkey</a>
    <%= yield %>
  </body>
</html>
